<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">




<!--  配置sessionFactory 
  --> 
	
	<bean id="MemberDao" class="edu.nju.healthclub.dao.impl.MemberDaoImpl"></bean>
	<bean id="ActivityDao" class="edu.nju.healthclub.dao.impl.ActivityDaoImpl"></bean>
	<bean id="CoachDao" class="edu.nju.healthclub.dao.impl.CoachDaoImpl"></bean>
	<bean id="ManagerDao" class="edu.nju.healthclub.dao.impl.ManagerDaoImpl"></bean>
	<bean id="ParticipationDao" class="edu.nju.healthclub.dao.impl.ParticipationDaoImpl"></bean>
	<bean id="PaymentDao" class="edu.nju.healthclub.dao.impl.PaymentDaoImpl"></bean>
	<bean id="SessionDao" class="edu.nju.healthclub.dao.impl.SessionDaoImpl"></bean>
	<bean id="WaiterDao" class="edu.nju.healthclub.dao.impl.WaiterDaoImpl"></bean>
	
	
	<bean id="ActivityService" class="edu.nju.healthclub.service.impl.ActivityServiceImpl">
		<property name="ActivityDao">
			<ref bean="ActivityDao"/>
		</property>
	</bean>	
	<bean id="MemberService" class="edu.nju.healthclub.service.impl.MemberServiceImpl">
		<property name="MemberDao">
			<ref bean="MemberDao"/>
		</property>
	</bean>	
	<bean id="CoachService" class="edu.nju.healthclub.service.impl.CoachServiceImpl">
		<property name="CoachDao">
			<ref bean="CoachDao"/>
		</property>
	</bean>	
	<bean id="ManagerService" class="edu.nju.healthclub.service.impl.ManagerServiceImpl">
		<property name="ManagerDao">
			<ref bean="ManagerDao"/>
		</property>
	</bean>	
	<bean id="ParticipationService" class="edu.nju.healthclub.service.impl.ParticipationServiceImpl">
		<property name="ParticipationDao">
			<ref bean="ParticipationDao"/>
		</property>
	</bean>	
	<bean id="PaymentService" class="edu.nju.healthclub.service.impl.PaymentServiceImpl">
		<property name="PaymentDao">
			<ref bean="PaymentDao"/>
		</property>
		<property name="MemberDao">
			<ref bean="MemberDao"/>
		</property>
	</bean>	
	<bean id="SessionService" class="edu.nju.healthclub.service.impl.SessionServiceImpl">
		<property name="SessionDao">
			<ref bean="SessionDao"/>
		</property>
	</bean>	
	<bean id="WaiterService" class="edu.nju.healthclub.service.impl.WaiterServiceImpl">
		<property name="WaiterDao">
			<ref bean="WaiterDao"/>
		</property>
	</bean>	
	
		
		
	<bean id="LoginAction" class="edu.nju.healthclub.action.LoginAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
		<property name="WaiterService">
			<ref bean="WaiterService"/>
		</property>
		<property name="ManagerService">
			<ref bean="ManagerService"/>
		</property>
		<property name="ParticipationService">
			<ref bean="ParticipationService"/>
		</property>
	</bean>	
	<bean id="RegisterAction" class="edu.nju.healthclub.action.RegisterAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>
	
	<bean id="PayAction" class="edu.nju.healthclub.action.PayAction">
		<property name="PaymentService">
			<ref bean="PaymentService"/>
		</property>
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>

	<bean id="AddNewActivityAction" class="edu.nju.healthclub.action.AddNewActivityAction">
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
	</bean>
	<bean id="GetPaymentAction" class="edu.nju.healthclub.action.GetPaymentAction">
		<property name="PaymentService">
			<ref bean="PaymentService"/>
		</property>
	</bean>
	<bean id="GetPersonalInfoAction" class="edu.nju.healthclub.action.GetPersonalInfoAction">
	</bean>
	
	<bean id="GetActivityAction" class="edu.nju.healthclub.action.GetActivityAction">
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
		<property name="ParticipationService">
			<ref bean="ParticipationService"/>
		</property>
	</bean>
	
	<bean id="ModifyInfoAction" class="edu.nju.healthclub.action.ModifyInfoAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>
	
	<bean id="ActivityInfoAction" class="edu.nju.healthclub.action.ActivityInfoAction">
		<property name="SessionService">
			<ref bean="SessionService"/>
		</property>
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
	</bean>
	
	<bean id="ReserveAction" class="edu.nju.healthclub.action.ReserveAction">
		<property name="ParticipationService">
			<ref bean="ParticipationService"/>
		</property>
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
		<property name="SessionService">
			<ref bean="SessionService"/>
		</property>
	</bean>
	
	<bean id="AddNewSessionAction" class="edu.nju.healthclub.action.AddNewSessionAction">
		<property name="SessionService">
			<ref bean="SessionService"/>
		</property>
	</bean>
	<bean id="CompleteAddAction" class="edu.nju.healthclub.action.CompleteAddAction">
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
	</bean>
	
	<bean id="BackManagerHomeAction" class="edu.nju.healthclub.action.BackManagerHomeAction">
	</bean>
	
	<bean id="ClubAnalyticsAction" class="edu.nju.healthclub.action.ClubAnalyticsAction">
		<property name="ParticipationService">
			<ref bean="ParticipationService"/>
		</property>
	</bean>
	
	<bean id="MemberAnalyticsAction" class="edu.nju.healthclub.action.MemberAnalyticsAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>
	
	<bean id="mainjob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
			<value>edu.nju.healthclub.timer.DeductionJob</value>
		</property>
	
		<property name="jobDataAsMap">
			<map>
				<entry key="MemberService">
					<value>MemberService</value>
				</entry>
			</map>
		</property>
	</bean> 
	<bean id="mainTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <!-- 上面创建的任务调度对象 -->
            <ref bean="mainjob" />
        </property>
        <property name="cronExpression">
     		 <value>0 0 6 * * ?</value>
    	</property>
    </bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	      <list>
	        <ref bean="mainTrigger"/>
	      </list>
	    </property>
	</bean>
	
	<bean id="CheckMemberAction" class="edu.nju.healthclub.action.CheckMemberAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
	</bean>
	
	<bean id="MemberInfoAction" class="edu.nju.healthclub.action.MemberInfoAction">
		<property name="MemberService">
			<ref bean="MemberService"/>
		</property>
		<property name="ParticipationService">
			<ref bean="ParticipationService"/>
		</property>
		<property name="PaymentService">
			<ref bean="PaymentService"/>
		</property>
	</bean>
	
	<bean id="BackWaiterHomeAction" class="edu.nju.healthclub.action.BackWaiterHomeAction">
		<property name="ActivityService">
			<ref bean="ActivityService"/>
		</property>
	</bean>
</beans>
